body{
    background-color: #CFF5E7;
}
head{
    background-color: #CFF5E7;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.donate{
    text-align: center;
    position: relative;
    background-color: pink;
    margin-left: 550px;
    border:100px;
    border-color: black;
    margin-bottom: 100px;
}
